@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}
.bg{
    background-image: url('images/bg-desktop-dark.jpg');
    height: 42vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.bg2{
    min-height: 58vh;
    background-color: rgb(20,20,40);
    z-index: -1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100%;
}
.logo h1{
    letter-spacing: .4rem;
    color: white;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
}
.newdeadline{
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 95%;
    padding: 15px;
    background-color:lightblue;
    border: none;
    margin-top: 11px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    
}
.newdeadline input[type="text"]{
    width: 94%;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(44, 44, 70);
    padding: 15px 0 15px 20px;
    color: white;
}
input[type="text"]::placeholder{
    color: gray;
    font-size: 12px;
    letter-spacing: 0.2rem;
}
.box{
    background-color: rgb(44, 44, 70);
    position: relative;
    top: 50px;
}
ul{
    padding: 0;
}
ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 20px 40px;
    position: relative;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.footer p{
    width: 100%;
    text-align: center;
}
.delete-btn{
    position: absolute;
    left: 13px;
    top: 22px;
    padding: 0 5px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .btn{
        width: 50%;
    }
    .wrapper{
        width: 40%;
    }
}